.textWrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.button {
    padding: 15px 10px;
    color: white;
    background-color: #367abb;
    text-align: center;
    padding: 10px;
    height: 50px;
    width: 256px;
    margin: 10px;

    &:hover {
        background-color: #5895cf;
    }
}

.transactionsContainer {
    table {
        width: 100%;
        border-collapse: collapse;

        thead {
            border-bottom: 1px solid black;
            font-size: 1.5vw;
        }
    }

    .dateColumn {
        width: 20%;
    }

    .summaryColumn {
        width: 40%;
    }

    .amountColumn {
        width: 20%;
    }

    .balanceColumn {
        width: 20%;
    }
}
